<div id="table" class="container-fluid text-dark">
  <h1>
    השוואת דירות
  </h1>
  <div class="row">
    <div class="col-auto">
      <ul class="list-group">
        {{#each table.fixedCol}}
          <li class="list-group-item">
            {{this}}
          </li>
        {{/each}}
      </ul>
    </div>
    <div id="cards-list" class="col">
      <div>
        <div class="d-flex flex-row gap-3">
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
          <ul class="list-group">
            {{#each table.data}}
              <li class="list-group-item">
                {{this}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>